body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-thumb {
  width: 200px;
  height: 200px;
}

.App {
  display: flex;
}
